body {
    background-color: #080837;
    color: #7bf762;


}

.Container {
    height: 1048px;
    width: 944px;
    border: 1px solid #7bf762;
    margin: auto;
    margin-top: 32px;


}


#heading {

    font-family: sans-serif;
}

h4 {
    letter-spacing: 5px;
    font-weight: 70px;
    margin-left: 30px;
}

.flex-container {
    display: flex;

    margin-left: 15px;
}

.flex-container>div {
    border: 0.2px solid #7bf762;
    border-radius: 5px;

    background-color: #080837;
    margin: 10px;
    padding: 20px;
    width: 150px;
    height: 112px;
    transition: box-shadow 0.3s ease;
}

.flex-container>div:hover {
    box-shadow: 10px 10px 10px rgba(246, 243, 243, 0.25);
}

.flex-container>div.calc {
    border: 0.2px solid #7bf762;
    border-radius: 5px;
    display: inline;

    background-color: #112e1d;
    margin: 10px;
    padding: 20px;
    width: 210px;
    height: 240px;
}

#power {
    margin-top: -111px;
}

.price {
    float: right;
    color: antiquewhite;
    align-items: left;
}

.flex-container1 {
    display: flex;
    margin-left: 15px;

}

.flex-container1>div {
    border: 0.2px solid #7bf762;
    border-radius: 5px;
    background-color: #080837;
    margin: 10px;
    padding: 20px;
    width: 150px;
    height: 64px;
    transition: box-shadow 0.3s ease;
}

.flex-container1>div:hover {
    box-shadow: 10px 10px 10px rgba(246, 243, 243, 0.25);
}

.flex-container2>div:hover {
    box-shadow: 10px 10px 10px rgba(246, 243, 243, 0.25);
}

.flex-container3>div:hover {
    box-shadow: 10px 10px 10px rgba(246, 243, 243, 0.25);
}

.flex-container2 {
    display: flex;
    margin-left: 15px;
}

.flex-container2>div {
    border: 0.2px solid #7bf762;
    border-radius: 5px;
    background-color: #080837;
    margin: 10px;
    padding: 20px;
    width: 150px;
    height: 64px;
    transition: box-shadow 0.3s ease;
}

.flex-container3 {
    display: flex;
    margin-left: 15px;
}

.flex-container3>div {
    border: 0.2px solid #7bf762;
    border-radius: 5px;
    background-color: #080837;
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 220px;
    transition: box-shadow 0.3s ease;

}

ul {
    list-style: disc;

}

.calc {
    background-color: #59914d;


}